.container2{
    background-color: #46454e;
    margin-top: 50px;
}

.container h2{
    font-size: 30px;
    text-align: center;
    color: white;
}

.container button {
    font-size: 20px;
    font-weight: 700;
    color: #212529;
}

.container button:hover {
    color: #212529;
    background-color: rgb(212 212 212);
}

.btnPlay{
    background-color: #143d79;
}

.card{
    background-color: #676571;
    color: white;
}

.cardP {
    font-size: 14px;
}

.countWinners{
    margin: 0;
    padding: 0;
    margin-top: -20px;
    color: rgb(255, 173, 5);
    font-size: 12px;
}

.awards{
    text-align: end;
    font-size: 20px;
    font-weight: 600;
    color: rgb(29, 186, 84);
    margin-bottom: 0;
}