@font-face {
    font-family: 'grobold';
    src: url('@/css/grobold.ttf') format('truetype');
}

:root {
    --yellow1: rgb(252, 219, 33);
    --yellow2: rgba(235, 238, 93, 0.918);
}

.logo {
    width: 100%;
    max-width: 120px;
}

.list-none {
    list-style: none;
}

.link {
    text-decoration: none;
    font-size: 18px;
    color: rgb(153, 153, 153);
    background-color: rgb(6, 76, 138);
}

.link:hover {
    background-color: aqua;
    width: 100%;
}

.sidebar-button {
    margin-bottom: 2px;
    padding: 3px 10px;
    background-color: rgba(236, 241, 241, 0.055);
    border-radius: 2px;
}

.sidebar-button-active {
    margin-bottom: 2px;
    padding: 3px 10px;
    border-radius: 2px;
    transition: 0.4s;
    background-color: rgba(236, 241, 241, 0.212);
    color: aliceblue;
}

.sidebar-button-active:hover {
    background-color: rgba(236, 241, 241, 0.212);
    color: aliceblue;
}

.sidebar-button:hover {
    color: white;
    background-color: rgba(236, 241, 241, 0.212);
}

.container-auth {
    min-height: calc(100vh - 96px) !important;
}

.wrap-login {
    padding-top: 50px;
}

.login-body {
    background-color: rgba(255, 255, 255, 0.082);
    padding: 10px;
    border-radius: 15px;
}

.logo-login {
    max-height: 100px;
}

.notification-bg {
    background-color: rgba(29, 29, 29, 0.767);
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 0px;
}

.notification-body {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 4px;
    min-width: 260px;
    min-height: 180px;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcomeSidebarText {
    margin-bottom: 0px;
}

.text-gray {
    color: gray;
}

.sidebarNameEmail {
    font-size: 12px;
    display: block;
    line-height: 11px;
}

.devEnvironment {
    background-color: rgba(150, 8, 8, 0.438);
    color: aliceblue;
    position: fixed;
    padding: 3px 10px;
    top: 10px;
    left: 10px;
    font-size: 14px;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-between-start {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.eye-button {
    color: rgb(136, 148, 153);
}

.eye-button:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.bg-gray {
    background-color: rgb(236, 236, 236);
}

.bg-gray-2 {
    background-color: rgb(201, 201, 201);
}

.radius {
    border-radius: 5px;
}

.btn-animals {
    background-color: rgb(201, 201, 201);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid rgb(165, 165, 165);
}

.btn-animals:hover {
    background-color: rgb(245, 206, 79);
    cursor: pointer;
    transform: scale(1.05);
    border: 1px solid rgb(255, 153, 0);
}

.btn-animals-selected {
    background-color: rgb(54, 255, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid rgb(165, 165, 165);
}

.btn-animals-selected:hover {
    background-color: rgb(16, 175, 16);
    cursor: pointer;
    transform: scale(0.95);
}



.animal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.animal-col {
    width: calc(20% - 10px);
    width: 120px;
    height: 120px;
    padding: 3px;
}

.animals-content {
    background-color: rgb(209, 209, 209);
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.animals-list {
    padding: 0px 10px;
    font-size: 12px;
    margin-left: 5px;
    border-radius: 2px;
    height: 30px;

    position: relative;
}

.anim-btn {
    position: relative;
    background-color: rgb(58, 61, 61);
    transition: 0.3s;
    user-select: none;
}

.anim-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgb(112, 41, 8);
}

.delete-animal {
    background-color: transparent;
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.bg-modal {
    background-color: rgba(0, 0, 0, 0.589);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.ticket-body {
    background-color: aliceblue;
    min-height: 500px;
    max-height: 99vh;
    max-width: 600px;
    min-width: 400px;
    color: gray;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ticket-button {
    margin: 0px 10px;
    width: 130px;
}

.mx-400 {
    max-width: 350px;
}

.winer-ticket {
    border: 3px solid rgb(55, 241, 55);
    background-color: rgb(182, 230, 182);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
    color: rgb(11, 110, 27);
    flex-direction: column;
    font-size: 20px;
}

.winer-ticket h1 {
    margin: 0px;
}

.winer-icon {
    color: rgb(20, 197, 20);
    font-size: 80px;
    line-height: 80px;
}

.premio {
    font-size: 30px;
    color: aliceblue;
    background-color: rgb(3, 102, 0);
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 3px;
}

.text-lg {
    font-size: 22px;
}

.animal-none {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.205);
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border: 5px solid rgba(255, 255, 255, 0.267);
}

.animal-none i {
    color: aliceblue;
    font-size: 50px;
}

.bg-success-2 {
    background-color: rgb(178, 233, 178);
}

.jugando {
    background-color: rgb(208, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    font-weight: 600;
    animation-name: cambiaColor;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes cambiaColor {
    0% {
        background-color: var(--yellow1);
    }

    50% {
        background-color: greenyellow;
    }

    100% {
        background-color: var(--yellow1);
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animal-success {
    background-color: rgb(36, 209, 20);
    border: 1px solid rgb(29, 124, 33);
}

.animal-warning {
    background-color: rgb(201, 218, 141);
    border: 1px solid rgb(29, 124, 33);
}

:root {
    --tam: 32px;
}

.anim-btn2 {
    height: var(--tam);
    width: var(--tam);
    margin-left: 2px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-default {
    background-color: rgb(212, 212, 212);
    border: 1px solid rgb(134, 134, 134);
}

.btn-default :hover {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(156, 156, 156) !important;
}

.btn-cargar {
    height: 40px;
}

.mr1 {
    margin-inline-end: 30px;
}

.ticket-looser {
    border: 1px solid #969696;
    padding: 20px;
    border-radius: 5px;
}

.btn-jugada {
    padding: 5px 12px;
    margin-right: 10px;
    border-radius: 2px;
}

.win {
    background-color: rgb(113, 243, 113);
}

.lose {
    background-color: rgb(253, 199, 199);
}

.box-shadow-btn-landing {
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.678);
    color: aliceblue;
    transition: 0.1s;
}

.box-shadow-btn-landing:hover {
    color: rgb(21, 255, 0);
    transform: scale(1.01);
}

.btn-land-1 {
    background: linear-gradient(rgb(219, 76, 10), rgb(224, 153, 0));
}

.bg-card {
    background: linear-gradient(rgb(234, 117, 22), rgb(224, 153, 0));
}

.btn-land-2 {
    background: linear-gradient(rgb(219, 4, 219), rgb(206, 0, 79));
}

.linkRedes a {
    text-decoration: none;
    color: white;
}

.linkRedes i {
    color: white;
}