.btnApp {
    font-weight: 700;
}

.btnApp:hover{
    background-color: rgb(212 212 212);
    color: #212529;
}

.btnApp i {
    color: #212529;;
}

.btnApp i:hover {
    background-color: none;
    border: none !important;
    background-color: rgb(212 212 212);
}