.containerRow{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 100vh;
}

.bgSidebar{
    background-color: #081c41;
    min-width: 110px;
    width: 10%;
}

.sidebar{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    flex-wrap: nowrap;
}

.sidebarSticky{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar i{
    color: rgb(116 127 120);
    padding: 8px 12px;
}

.sidebar i:hover{
    background-color: rgba(70, 70, 70, 0.281);
    padding: 8px 12px;
    border-radius: 10px;
    position: relative;
}