.containerRow{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.bgSidebar{
    background-color: #081c41;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    width: 12%;
    left: 0px;
}

.flex-end{
    display: flex;
}
.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    flex-wrap: nowrap;
}

.sidebarSticky{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar i{
    color: rgb(116 127 120);
    padding: 8px 12px;
}

.sidebar i:hover{
    background-color: rgba(70, 70, 70, 0.281);
    padding: 8px 12px;
    border-radius: 10px;
    position: relative;
}

.content{
    width: 88%;
    margin-left: 12%;
    min-height: 100vh;
}

@media (max-width: 767px) { 
    .content{
        width: 100%;
        margin-left: 0%;
    }
}